
<!-- logback-spring.xml -->
<configuration>

    <!-- Consola de salida -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Archivo de registro -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file> <!-- Ruta del archivo de registro -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del registrador -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

</configuration>